{% extends "app/layout.html" %}

{% block content %}

<div class="col-lg-12">
    <h1 class="page-header">Terminar registro</h1>
</div>
<div class="row">
	<form method="post" action="{% url 'editarUsuario' %}" class="form-horizontal" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="form-group">
            <label for="id_firstname" class="col-md-2 control-label">Nombre</label>
            <div class="col-md-10">
				{{form.first_name}}
			</div>
		</div>
        <div class="form-group">
            <label for="id_lastname" class="col-md-2 control-label">Apellido</label>
            <div class="col-md-10">
                {{ form.last_name }}
            </div>
        </div>
		<div class="form-group">
            <label for="id_picture" class="col-md-2 control-label">Imagen de perfil</label>
            <div class="col-md-10">
				{{form.picture}}
			</div>
		</div>
        <div class="form-group">
            <label for="id_privado" class="col-md-2 control-label">Privacidad</label>
            <div class="col-md-10">
				{{form.privado}}
			</div>
		</div>
		<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Modificar perfil" />
			</div>
		</div>	
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                <span class="sr-only">Error:</span>
               Por favor, rellene todos los campos. Campos sin rellenar:
                {% for error in  form.errors %}
                    <ul>
                        {% if error == "first_name"%}
                        <li>Nombre</li>
                        {% elif error == "last_name"%}
                        <li>Apellido</li>
                        {% endif %}
                    </ul>
                {% endfor %}
            </div>
        {% endif %}
	</form>
</div>

{% endblock %}


{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}