{% extends "app/layout.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1  id="title" class="page-header">Inicio</h1>
        </div>
    </div>
</div>
<ul class="bs_timeline">
    <li>
        <div class="timeline-panel">
            <div class="timeline-copy">
                <h5 class="timeline-title">
                    Responsive CSS Timeline
                </h5>
                <p>The timeline item description.</p>
            </div>
        </div>
        <div class="timeline-badge">
            <i class="glyphicon glyphicon-euro"></i>
        </div>
    </li>
    <li class="timeline-right">
        <div class="timeline-panel">
            <div class="timeline-copy">
                <h5 class="timeline-title">
                    Responsive CSS Timeline
                </h5>
                <p>The timeline item description.</p>
            </div>
        </div>
        <div class="timeline-badge warning">
            <i class="glyphicon glyphicon-film"></i>
        </div>
    </li>
</ul>

{% endblock %}
